@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); // Monstserrat

:root {
    --primarycolor: #383838; // Utilização: Para destacar elementos importantes, como botões e links.
    --secondarycolor: #F5F7FA; // Para fundos e áreas que precisam de um contraste suave com a cor primária.
    --destaqcolor: #333333; // Para textos principais e ícones, proporcionando boa legibilidade
    --backgroundcolor: #FFFFFF; // Para o fundo da página e áreas onde você deseja um visual limpo e arejado.
    --bordercolor: #E1E5EA; // Para bordas e divisórias, dando uma aparência leve e limpa.
    --alertcolor: #F5A623; // Para alertas e mensagens importantes que precisam chamar a atenção.
    --savebuttoncolor: rgb(28, 233, 28);
    --savebuttonactive: rgb(27, 210, 27);

    // Modals
    --closebutton: rgb(249, 59, 59);
    --closebuttonhover: rgb(255, 34, 34);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    background-color: var(--secondarycolor);
}

.width {
    max-width: 90%;
    margin: 0 auto;
}

// Modals Login e Cadastrar

.modallogin {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #33333360;

    .modal-content {
        background-color: var(--secondarycolor);
        margin: 33dvh auto 0;
        padding: 20px;
        border: 1px solid var(--bordercolor);
        width: 50%;
        max-width: 450px;
        border-radius: 10px;

        .close-btn {
            color: var(--closebutton);
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
            transition: 1s;

            &:hover,
            &:focus {
                color: var(--closebuttonhover);
                text-decoration: none;
                cursor: pointer;
            }
        }

        form {

            input[type="text"],
            input[type="password"] {
                width: 100%;
                padding: 10px;
                margin: 8px 0;
                box-sizing: border-box;
            }

            .submit-btn {
                width: 100%;
                padding: 10px;
                background-color: var(--savebuttoncolor);
                color: white;
                border: none;
                cursor: pointer;
                transition: 1s;

                &:hover {
                    background-color: var(--savebuttonactive);
                }
            }
        }
    }
}

.header {
    background-color: var(--primarycolor); // Versão 1
    transition: .5s;
}

.header.active {
    background-color: var(--backgroundcolor); // Versão 2

    .container {
        .brand.active {
            color: var(--destaqcolor); // Versão 2
        }

        #stylecolor.active {
            background-color: var(--backgroundcolor);
        }

    }
}

.header {
    padding: 1em 1.5em;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        .brand {
            font-size: 1.3em;
            font-weight: 500;
            text-decoration: none;
            color: var(--backgroundcolor); // Versão 1

            transition: .5s;

            &:hover {
                letter-spacing: 1px;
            }
        }

        .navbar {
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .5em;

                li {
                    list-style-type: none;

                    input {
                        border-radius: 10px;
                        border: none !important;
                        outline: none !important;
                        padding: 0;
                        margin: 0;
                        background-color: var(--primarycolor);
                        transition: .5s;

                        cursor: pointer;
                    }

                    a {
                        font-size: .9em;
                        font-weight: 500;
                        text-decoration: none;
                        padding: .5em 1em;
                        color: var(--backgroundcolor);

                        background-color: var(--savebuttonactive);
                        border-radius: 1.5em;
                        box-shadow: none;
                        transition: .5s;

                        &:hover {
                            letter-spacing: 1px;

                        }
                    }

                    .save {
                        box-shadow: 0px 1px 0px black;
                    }

                    .save.active {
                        background-color: var(--savebuttoncolor);
                        box-shadow: 0px 1px 2.5px rgba(0, 0, 0, 0.5);
                        outline: none;
                    }


                    .load {
                        color: var(--backgroundcolor);

                        background-color: var(--primarycolor);
                        outline: 1px solid var(--bordercolor);
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

// Header

@media (max-width: 850px) {
    .header {
        .container {
            flex-direction: column;

            .brand {
                font-size: 1.4em;
                margin-bottom: .6em;
            }

            .navbar {
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: .5em;

                    li {
                        a {
                            font-size: .8em;
                        }
                    }
                }
            }
        }
    }
}

// MediaQuery Header

@media (max-width: 370px) {
    .header {
        .container {
            flex-direction: column;

            .brand {
                font-size: 1.2em;
                margin-bottom: .6em;
            }

            .navbar {
                ul {
                    li {
                        a {
                            font-size: .7em;
                        }
                    }
                }
            }
        }
    }
}

// MediaQuery Header

.main {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 2em;
    margin: 3.7em 0 5.4em;

    transition: 1s;

    .width_main {
        width: 50vw;
        margin: 0 auto;
        transition: 1s;

        .main_info {
            background-color: var(--backgroundcolor);
            padding: 1em;
            border-radius: 20px;
            box-shadow: 2.5px 5px 10px var(--bordercolor);
            border-top: 1px solid #bebebe;
            border-bottom: 1px solid #bebebe;
            transition: 1s;

            .introducion {
                font-size: .92em;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                line-height: 1.7em;
                letter-spacing: 1.5px;
                font-weight: 400;
                transition: 1s;
                margin: .5em 0;
                transition: 1s;

                span {
                    text-transform: uppercase;
                    font-style: italic;
                }
            }

            .text-e {
                display: flex;
                justify-content: end;
                margin-top: .5em;
                overflow-x: hidden;
                word-wrap: break-word;

                .text-en {
                    font-size: .92em;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    line-height: 1.7em;
                    letter-spacing: 1.5px;
                    font-weight: 400;
                    transition: 1s;

                    text-align: left;
                    background-color: var(--bordercolor);
                    max-width: 75%;
                    width: auto;

                    border-radius: 20px;
                    padding: .5em 1em;
                }
            }
        }
    }
}

// Main

@media (max-width: 850px) {
    .main {
        margin: 0 auto;
        box-sizing: border-box;
        padding: 2em;
        margin: 6em 0 4.78em;

        .width_main {
            width: 70vw;
            margin: 0 auto;
            transition: 1s;

            .main_info {
                background-color: var(--backgroundcolor);
                padding: 1em;
                border-radius: 20px;

                .introducion {
                    font-size: .92em;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    line-height: 1.84em;
                    letter-spacing: 1.5px;
                    font-weight: 400;
                }
            }
        }
    }
}

// MediaQuery Main


footer.active {
    background-color: var(--backgroundcolor);
}

.footer {
    padding: 1em 1.5em;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    gap: 20px;
    transition: .5s;
    background-color: var(--primarycolor);

    .dataentry {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;

        border-radius: 2em;
        background-color: #ededed;
        width: 50vw;
        transition: 1s;

        .input-dataentry {
            outline: none;
            border: none;
            padding: 1em;
            width: 75%;
            font-size: 1em;
            background-color: transparent;

            margin-left: 2dvw;
            transition: 1s;
        }

        .submit {
            background-image: url(../images/entrar.png);
            background-size: cover;
            background-color: transparent;
            width: 2em;
            height: 2em;
            border: none;

            cursor: pointer;
            margin-right: 2dvw;
            transition: 1s;
            opacity: .5;
        }
    }
}

// Footer

@media (max-width: 850px) {
    .footer {
        padding: .8em 1em;

        .dataentry {
            gap: 1em;
            width: 70vw;

            .input-dataentry {
                font-size: .7em;
            }

            .submit {
                width: 1.5em;
                height: 1.5em;
                margin-right: 2.5dvw;
            }
        }
    }
}

// MediaQuery Footer